.DS_Store

# Kha
build/
khafile.js
korefile.js

# Default Haxe gitignore
tests/unit/report/
tests/unit/.temp/
tests/unit/bin/
export
tests/unit/src/TestSuite.hx
dump
.vscode
tests/RunTravis.n
*.diff
*.hxproj
.unittest

Assets/
